h1,
h2,
h3 {
	color: $white !important;
}

label,
th,
td {
	font-size: 1.1em;
	color: $white !important;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #505050;
}

.Collection__form,
.Collection__inputs,
.Collection__inputs > div {
	flex-direction: column;
}

.Collection {
    margin: 1em auto;
    width: 100%;
}

.Collection__body {
    width: inherit;
    margin-top: 2em;
    font-family: tahoma;

    .col-xs-4,
    .col-xs-8 {
    	padding: 0 !important;
    }

    .col-xs-4 { padding-right: 1em !important; }

    #receipt-box {
    	tr { 
    		cursor: pointer; 

    		> td:nth-child(4n+4) {
			    width: 10%;
			}
    	}
    }

    #receipt-table {

        tbody span,
        tbody b,
        .empty {
            font-size: 1.1em;
            color: $white;
        }

        .empty {
            font-size: 2em;
            text-align: center;
            padding: 1em !important;
        }

        /* tbody span {
            border-bottom: 1px solid #bf2727;
        } */

        tbody b {
            font-weight: bold;
        }
    }
}

.Collection__inputs {
    width: inherit;
    padding: 1.5em 0 0;
    justify-content: center;

    & > div {
        padding: .5em 1em;

        > label { 
        	width: 100%;
        	text-transform: uppercase;
        	text-align: center;
        }
    }

    div:last-child {
        margin-right: 0;
        margin-top: 25px;
    }

    .group-btn > button {
    	width: 100%;
	    margin-bottom: 0.5em;
	    padding: 1em 0
    }
}

@media (min-width: 568px) {
	.Collection__form {
	}

	.Collection__inputs {
		width: 90%;
		margin: 0 auto;
	}

	.Collection__body {
		> div { 
			padding: 0; 
			margin-bottom: 3em;
		}
	}
}

@media (min-width: 768px) {
	.Collection__inputs {
		flex-direction: row;
	}

	.Collection__body {
		> div { 
			padding: 1em; 
		}
	}
}

@media (min-width: 1024px) {
	.Collection__inputs {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.Collection__body {
		> div { 
			padding: 0 5.5em;
		}
	}

	.group-btn { flex-basis: 100%; }
}

/* @media (min-width: 1200px) {
	.Collection__body {
		> div { 
			padding: 0 4.5em;; 
		}
	}
} */
