.customer, .customer-create { margin-top: 6em !important; }

.customer { color: #545353; }

.customer-search__controls {
	background: $elementBgColor;
    padding: 1em .5em;
    margin-top: 1em;
    border: 1px solid $borderColor;
    overflow: hidden;
}

.customer-search__records {
	margin-bottom: 5em;

	table > tbody > tr:nth-child(odd) {
	    background: #DFF0D8;
	}

	table > tbody > tr:nth-child(even) {
	    background: #D9EDF7;
	}
}

.login input,
.customer-create input,
.customer-search__controls input {
    border: 1px solid $borderColor;
    border-radius: 0px;
    margin-right: 2em;
}

.login input:focus,
.customer-create input:focus, textarea:focus,
.customer-search__controls input:focus, {
    background: $inputFocusColor;
    color: $white;
    border: 1px solid $red !important;
}

.customer-create {
    width: 790px;
    max-width: 790px;
    background: $elementBgColor;
    padding: 0.7em 1em .5em;
    margin: 0 auto 3em;
    border: 1px solid $borderColor;

    h3 {
		font-size: 1.3em;
    	font-family: 'sans-serif';
    	font-weight: normal;
		margin: 1.5em 0 0.5em;
    }

    label {
	    margin-right: 0.5em;
	    font-size: 1em;
	    font-weight: normal;
	    position: relative;
	    top: 0.3em;
	}

	input[name=salutation],
	input[name=email] {
	    margin-right: 0;
	}

	input[name=building], input[name=street] {
	    margin: 1em 0 0;
	    margin-right: 0;
	    min-width: 89%;
	}

	input[name=street] {
		margin: 1em 0 1em 1.3em;
	}

	input[type=radio] {
	    margin-right: .1em;
	}

	input[type=radio] + span {
	    position: relative;
	    top: 0.2em;
	    margin-right: 1em;
	}

	input[name=homephone] {
		margin: 1em;
	}

	input[name=email] {
	    min-width: 92%;
	    margin-bottom: 1em;
	}

	select { margin-right: 1em; }

	textarea {
		min-width: 100%;
		height: 250px;
		margin-bottom: 1em;
		white-space: pre;
		resize: none;
	}

	button {
	    padding: 1em 3em;
	    margin-right: 0.5em;
	}
}

.customer-create__name {
	margin-top: 1em;
}


@media (min-width: 1200px) {
	.container {
	    width: 1170px;
	    width: 90%;
	}
}
