select > option,
select > option[value] { 
	text-transform: uppercase; 
}

.customer, .customer-create { margin-top: 6em !important; }

.customer { color: #545353; }

.customer-search__controls {
	background: $elementBgColor;
    padding: 1em .5em;
    margin-top: 1em;
    border: 1px solid $borderColor;
    overflow: hidden;
}

.customer-search__records {
	margin-bottom: 5em;

	table > tbody > tr:nth-child(odd) {
	    background: #DFF0D8;
	}

	table > tbody > tr:nth-child(even) {
	    background: #D9EDF7;
	}

	table > thead > tr > th:last-child { 
		min-width: 141px; 
		text-align: center;
	}
}

.login input,
.customer-create input,
.customer-search__controls input,
.Customer__edit input,
.Customer__edit select {
    border: 1px solid $borderColor;
    border-radius: 0px;
    margin-right: 2em;
}

.login input:focus,
.customer-create input:focus, textarea:focus,
.customer-search__controls input:focus,
.Customer__edit input:focus,
.Customer__edit select:focus {
    background: $inputFocusColor;
    color: $white;
    border: 1px solid $red !important;
}

.customer-search__records table > tbody > tr:hover {
	background: #ffb65b !important;
    color: #fff;
    outline: 1px solid #e89e42;
}

.customer-create textarea,
.Customer__edit textarea {
	min-width: 100%;
	height: 250px;
	margin-bottom: 1em;
	white-space: pre;
	resize: none;
}

.customer-create {
    width: 790px;
    max-width: 790px;
    background: $elementBgColor;
    padding: 0.7em 1em .5em;
    margin: 0 auto 3em;
    border: 1px solid $borderColor;

    h3 {
		font-size: 1.3em;
    	font-family: 'sans-serif';
    	font-weight: normal;
		margin: 1.5em 0 0.5em;
    }

    label {
	    margin-right: 0.5em;
	    font-size: 1em;
	    font-weight: normal;
	    position: relative;
	    top: 0.3em;
	}

	input[name=salutation],
	input[name=email] {
	    margin-right: 0;
	}

	input[name=building], input[name=street] {
	    margin: 1em 0 0;
	    margin-right: 0;
	    min-width: 89%;
	}

	input[name=street] {
		margin: 1em 0 1em 1.3em;
	}

	input[type=radio] {
	    margin-right: .1em;
	}

	input[type=radio] + span {
	    position: relative;
	    top: 0.2em;
	    margin-right: 1em;
	}

	input[name=homephone] {
		margin: 1em;
	}

	input[name=email] {
	    min-width: 92%;
	    margin-bottom: 1em;
	}

	select { margin-right: 1em; }

	button {
	    padding: 1em 3em;
	    margin-right: 0.5em;
	}
}

.customer-create__name {
	// margin-top: 1em;
}

/*=============== Customer Edit ===============*/ 

.Customer__edit-overlay,
.Customer__purchase-overlay,
.Signature-overlay {
	background: black;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.Customer__edit-scroll,
.Customer__purchase-scroll,
.Signature-scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

.Customer__edit,
.Customer__purchase,
.Signature {
	> button {
		position: absolute;
	    top: -0.2em;
	    right: 0.1em;
	    background: none;
	    border: none;
	    color: red;
	    font-size: 2em;
	    font-weight: bold;
	}

	> h2 {
	    margin: .5em 0;
	    padding-bottom: 0.1em;
	    border-bottom: 1px solid $borderColor;
	}
}

.Customer__edit,
.Customer__purchase,
.Signature {
	background: $elementBgColor;
    position: relative;
    width: $editWidth;
    margin: 4em auto 2em;
    padding: 1em;
    border-radius: 2px;
}

.Customer__edit {

	textarea { margin-bottom: 3em; }

	input[type=radio] {
	    width: 20px;
	    margin-right: 0;
	}

	span {
	    position: relative;
	    top: -0.1em;
	}
}

.customer-create__buttons {
	
	button {
	    padding: 1em 3em;
	    font-size: 1.1em;
	    margin-right: 0.2em;
	}
}

/*=============== Customer Purchase ===============*/ 

.Customer__purchase {
	background: $elementBgColor;
    font-family: tahoma;
    width: 80%;
}

.Customer__purchase-info {
    background: #3e483e;
    color: $red1;
    font-size: 1em;
    padding: .5em 1em;
    margin-bottom: 0.5em;
    border: 1px solid #ece0e0;
}

.Customer__purchase-body table > tbody > tr > td.tmp,
.Customer__purchase-receipt div.lens-tmp {
	    font-size: 1.5em;
	    color: $red2;
	    text-align: center;
	}

.Customer__purchase-body {

	ul.records a { color: #95e087 !important; }
	ul.dispense { color: #e6df88 !important; }
	ul.st-detail { color: #3edbff; }

	ul { 
		padding-left: 0; 
		margin-bottom: 0;

		> li { 
			margin-left: 1em; 

			> a { color: $white; }
		}
	}
	
	div.left-panel {
		background: $red1;
	    color: $white;
	    padding: .5em 1em;
	    font-size: 1em;
	    font-family: calibri;
	    box-shadow: 0 0 5px 2px rgba(185, 24, 7, 0.2);
	}	
}

.Customer__purchase-info > b {
    font-size: 1.1em;
    text-transform: uppercase;
}

.Customer__purchase-receipt {
	background: #3e483e;
    color: $white;
	padding: 1em;

    h3 {
    	margin-top: 0;
		margin-bottom: 1em;
	    color: $white;
    }

    p { letter-spacing: 0.1em; }

    span {
		letter-spacing: 0;
	    font-size: 1.3em;
	    color: #ff1919;
    }

    div.lens {

    }
}

@media (min-width: 1200px) {
	.container {
	    width: 1170px;
	    width: 90%;
	}
}
