.dashboard,
.dashboard__actions {
	display: flex;
	flex-direction: column;
}

.dashboard {
    width: $dashboardWidth;
    max-width: $dashboardWidth;
    margin: 0 auto;
    margin-top: 10em;
    padding-bottom: 2em;
    background: $elementBgColor;
    border-radius: 0.2em;
    border: 1px solid $borderColor;
}

.dashboard__logo {
	background: $navBgColor;
	padding: 0;
    margin-bottom: 2em;
    text-transform: uppercase;
    border-bottom: 1px solid $borderColor;
}

.dashboard__actions {
    align-items: center;
    justify-content: center;

	> a {
	    margin-bottom: 1em;
	    padding: 3.5em;
	    width: $loginWidth;
	    max-width: $loginWidth;
	    text-align: center;
	}
}