.dashboard,
.dashboard__actions {
	display: flex;
	flex-direction: column;
}

.dashboard {
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
    background: #e7eae5;
    padding: 1em;
    border-radius: 0.2em;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.2);
    border: 1px solid #dadada;
}

.dashboard__logo {
	padding: 1em 0 0.5em;
}

.dashboard__actions {
    align-items: center;
    justify-content: center;

	> a {
	    margin-bottom: 1em;
	    padding: 3.5em;
	    width: 350px;
	    max-width: 350px;
	    text-align: center;
	}
}