.Signature__form {
	width: 70%;
    margin: auto;

	> h2 { @include textSpacing(3.5em, .7em); }

	p,
	> ul {
		@include textSpacing; 
	}

	p { text-align: justify; }

	> ul {
		list-style-type: lower-roman;

		> li { padding-left: 1em; }

		> li:last-child > ul { 
			list-style: none; 
			margin-top: 1em;
		}
	}
}

.Signature__form-sign {
	margin: 5em 0;

	.left-side,
	.right-side {
		position: relative;
		margin-bottom: 2em;
		display: flex;
	}

	.left-side {
		img {
	    	background: #dcd8d8;
		    height: 250px;
		    width: 90%;
		    border: 1px solid #c3c1c1;
	    }
	}

	.at-bottom {
		clear: both;
	}

	label { 
		@include textSpacing; 
		margin-bottom: 0;
		width: 110px;
	}

	input {
	    background: none;
	    margin-left: 1em;
		font-size: 1.3em;
	    width: 90%;
	    border: none;
	    border-bottom: 1px solid #656565;
	}
}

.Signature {
	width: 90%;
    margin: 2em auto 0;
}