/*=============== Color ===============*/

$lightGreen: #DFFFDF;
$light2Green: #DAF7C6;
$mediumGreen: #c1efab;
$medium2Green: #5CB85C;
$lightSilver: #7b7676;
$lightSilver2: #4E5D6C;
$lightRed: #D57B7B;
$white: #fff;
$red: #D43F3A;
$red1: #f55e5e;
$red2: #ff1919;
$lightBlack: #4E5D6C;
$bodyBgColor: $lightBlack;
$navBgColor: $mediumGreen;
$borderColor: $lightBlack;
$textColor: $lightSilver;
$elementBgColor: $lightBlack;
$inputFocusColor: $lightRed;

/*=============== Size ===============*/

$loginWidth: 350px;
$editWidth: 400px;
$dashboardWidth: 500px;