/*=============== Color ===============*/ 
$lightGreen: #DFFFDF;
$light2Green: #DAF7C6;
$mediumGreen: #c1efab;
$medium2Green: #c0e8b8;
$lightSilver: #7b7676;
$lightRed: #ea939a;
$white: #fff;
$red: #ef2828;

$bodyBgColor: $lightGreen;
$navBgColor: $mediumGreen;
$borderColor: $medium2Green;
$textColor: $lightSilver;
$elementBgColor: $light2Green;
$inputFocusColor: $lightRed;

/*=============== Size ===============*/ 
$loginWidth: 350px;
$dashboardWidth: 500px;